@using mvcLR6.Models;
@model List<Product>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="~/css/new-style.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 20px;
        }

        h2 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        form.custom {
            text-align: center;
            margin-top: 20px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2>Order:</h2>
        <table>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Size</th>
                <th>Features</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Size</td>
                    <td>@Model[i].Description</td>
                </tr>
            }
        </table>
        <form action="/Order/Index" method="post" class="custom">
            <button type="submit">Return to Registration</button>
        </form>
    </div>
</body>
</html>